body {
  margin: 0;
  font-family: 'Courier New', monospace;
}

.container {
  position: relative;
  width: 100%;
  height: 1500px;
}
.container .image-container {
  width: 100%;
  height: 0;
  padding-top: 45.347%;
  position: sticky;
  top: 0;
  background-size: cover;
  background-image: url(resources/14.jpg);;
}
.container .text-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  color: black;
}
.container .text-container .subtitle {
  opacity: 0;
  font-size: 30px;
}
.container .text-container .title {
  opacity: 0;
  font-size: 80px;
  margin: -20px 0;
}
